<%- include('layouts/headers'); -%>

<body>
    <div class="container">
        <div class="title">
            <div class="img">
                <img src="images/logo.jpg" rel="logo">
            </div>
            <div class="titleh1">
                <h1>Welcome to Game Store</h1>
            </div>
            <div class="subtitle">
                <h3>Welcome Admin!</h3>
            </div>
        </div>
        <div class="navBar">
            <ul>
                <li><a href="/addpage">Add Page</a></li>
                <li><a href="/editpage">Edit Page</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="logout">
            <h1>Delete Page</h1>
            <p>You have Successfully deleted the page!</p>
        </div>

        <%- include('layouts/footer'); -%>
    </div>
</body>

</html>