<%- include('layouts/headers'); -%>
<body>
    <div class="container">
        <%- include('layouts/title'); -%>
        <%- include('layouts/navBar'); -%>
        <div class="logout">
            <h1>Logout</h1>
            <p>You have Successfully logged out!</p>
        </div>
        <%- include('layouts/footer'); -%>
</body>

</html>